/*Geral */

:root {
    --sections-padding-inline: min(8vw, 130px);
    --sections-padding-block: 80px;

}

* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    color: #f4f6f6;
    margin: 0;
    font-size: 4em;
}

h2 {
    font-size: 2em;
    color: black;
}

h3 {
    font-size: 1.3em;
}

body {
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu;
}

.section {
    padding-inline: var(--sections-padding-inline);
    padding-block: var(--sections-padding-block);
}

/*head da página*/

#header {
    background-color: #383c41;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    flex-wrap: wrap;
}

#header .logo {
    width: clamp(150px, 40vw, 230px);
}

#header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 30px;
}

#header a {
    color: #f4f6f6;
    text-decoration: none;
}

/*Sessão principal com o h1 e a foto principal*/

#section-1 {
    background-color: #383c41;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
    
}

#section-1 .content {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 30px;
    margin-top: -8px;
}

#section-1 .content, .photo {
    flex: 1;
}

.photo img {
    width: 100%;
    min-width: 250px;
}

#section-1 p {
    color: #f4f6f6;
}

#section-1 button {
    font-weight: 900;
    font-size: 18px;
    background-color: #f8d305;
    border-radius: 8px;
    border: 1px solid #f8d305;
    color: #f4f6f6;
    padding: 16px;
    width: clamp(150px, 50%, 250px);
    
}

/* Sessão dos icones */

#section-2 {
    text-align: center;
    color: #383c41;
}

#section-2 > h2 {
    margin-bottom: 50px;
}

#section-2 .content {
    display: flex;
    gap: clamp(35px, 3vw, 50px);
    flex-wrap: wrap;
    justify-content: center
}

.info {
    text-align: center;
    width: 240px;
}

.info > h3 {
    margin-block: 10px;
}

.info img {
    width: 100%;
    border: 5px solid rgba(248, 211, 5, 0.5);
    border-radius: 5px;
}

h3 {
    color:black;
}

/*Sessão de depoimento*/

#section-3 {
    background-color: #f4f6f6;
}

#section-3 .content {
    color: #383c41;
    font-size: 1.5em;
    font-weight: 200;
    font-style: italic;
    align-self: center;
    margin-inline: 15vw;
}

.autor {
    text-align: right;
    padding: 10px 0px 0px 0px;
    font-size: 0.6em;
}

/*Sessão de inscrição na Newsletter*/

#section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}


#section-4 .container {
    background-color:#f8d305;
    width: 50vw;
    border-radius: 10px;
    padding: 20px;
}

#section-4 .container h3{
   margin-bottom: 10px;
}

#section-4 .content {
    display: flex;
    padding: 10px 30px;
    gap: 20px;
}

#section-4 .content .texto {
    width: 70%
}

#section-4 .content{
    justify-content: space-around;
    align-items: center;
}

#section-4 .content button {
    font-weight: 900;
    background-color: #f8d305;
    border-radius: 8px;
    border: 2px solid #f4f6f6;
    color: #f4f6f6;
    padding: 8px 16px;
}

/*Footer*/

#footer {
    background-color: #f4f6f6 ;
    text-align: center;
    padding-block: 30px;
}

/*Media 600px*/

@media (max-width: 600px) {

    #header {
        justify-content: center;
        gap: 10px;
    }

    #section-1 .content h1 {
        font-size: 3.5em;
    }

    #section-1 > *{
        text-align: center;
        align-items: center;
    }

    #section-4 .content {
        flex-direction: column;
        padding: 0px;
        text-align: center;
    }
}